body {
    margin: 0;
    padding: 0;
    background-color: rgb(10, 25, 41);
    color: whitesmoke;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #394347;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #676767;
}

.landingFooter a {
    border-bottom: 1px solid #453886;
    color: #453886;
    padding-bottom: .25em;
    text-decoration: none;
}

.landingFooter a:hover {
    color: #2196f3;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 20%;
    border-bottom: 0;
    padding-bottom: .3em;
    text-decoration: none;
}

.ql-editor {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 30px;
    color: lightgray;
}

.ql-bubble .ql-editor pre {
    padding: 24px;
    border-radius: 10px;
}

.ql-bubble .ql-editor pre.ql-syntax {
    color: #ab9bab;
    background: #1b181b;
}

.ql-editor.ql-blank::before {
    color: white;
}

.channelCreatorDialog .css-rnmm7m-MuiPaper-root-MuiDialog-paper {
    background-color: #011339;
    color: inherit;
}

.css-cwpu7v {
    background-color: #011339;
    color: inherit;
}