body {
    margin: 0;
    padding: 0;
    background-color: rgb(10, 25, 41);
    color: white;
    font-family: Arial, Helvetica, sans-serif
}

::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #7d9aa5;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #676767;
}

.ql-editor {
    font-size: 16px;
    line-height: 1.8rem;
}

.ql-bubble .ql-editor pre {
    padding: 24px;
    border-radius: 10px;
}

.ql-bubble .ql-editor pre.ql-syntax {
    color: #ab9bab;
    background: #1b181b;
}

.ql-editor.ql-blank::before {
    color: white;
}